<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" media="all" href="../slides-common/css/default.css">
  <link rel="stylesheet" media="only screen and (max-device-width: 480px)" href="../slides-common/css/phone.css">
  <link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <base target="_blank">
  <script src="slide_config.js"></script>
  <script data-main="../slides-common/js/slides" src="../slides-common/js/require-1.0.8.min.js"></script>
</head>
<body style="opacity: 0">

<slides class="layout-widescreen">

  <slide class="logoslide nobackground">
    <article class="flexbox vcenter">
      <span><img src="../slides-common/images/codecentric-logo.png"></span>
    </article>
  </slide>

  <slide class="title-slide segue nobackground">
    <aside class="gdbar"><img src="../slides-common/images/codecentric-logo-only.png"></aside>
    <hgroup class="auto-fadein">
      <h1 data-config-title><!-- populated from slide_config.json --></h1>
      <h2 data-config-subtitle><!-- populated from slide_config.json --></h2>
      <p data-config-presenter><!-- populated from slide_config.json --></p>
    </hgroup>
  </slide>

  <slide>
    <article>
      <ul class="trainers">
        <li>
          <img src="http://1.gravatar.com/avatar/93a1cf600ab7c97e30f2f9fd62170e36?s=140"
               alt="Marcels's avatar"
               class="avatar">
          <span class="name">Marcel Birkner</span>
          <ul class="social">
            <li>
              <i class="icon-twitter"></i>
              <a href="https://twitter.com/marcelbirkner">
                @marcelbirkner
              </a>
            </li>
            <li>
              <i class="icon-github"></i>
              <a href="https://github.com/marcelbirkner">
                github.com/marcelbirkner
              </a>
            </li>
            <li>
              <i class="icon-envelope"></i>
              <a href="mailto:marcel.birkner@codecentric.de">
                marcel.birkner@codecentric.de
              </a>
            </li>
          </ul>
        </li>
        <li>
          <img src="https://lh5.googleusercontent.com/-iPYW0q1B-ag/AAAAAAAAAAI/AAAAAAAAAFk/Lx0lCbb-amA/photo.jpg"
               alt="Bastian's avatar"
               class="avatar"
               height="140px"
               width="140px">
          <span class="name">Bastian Krol</span>
          <ul class="social">
            <li>
              <i class="icon-twitter"></i>
              <a href="https://twitter.com/bastiankrol">
                @bastiankrol
              </a>
            </li>
            <li>
              <i class="icon-github"></i>
              <a href="https://github.com/basti1302">
                github.com/basti1302
              </a>
            </li>
            <li>
              <i class="icon-envelope"></i>
              <a href="mailto:bastian.krol@codecentric.de">
                bastian.krol@codecentric.de
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>About codecentric</h2>
    </hgroup>
    <article>
      <ul class="person-types">
        <li>
          <img src="images/big-data-nerds.jpg" alt="Big Data nerds">
          Big Data Nerds
        </li>
        <li>
          <img src="images/agile-ninjas.png" alt="Agile Ninjas">
          Agile Ninjas
        </li>
        <li class="smaller">
          <img src="images/delivery-gurus.jpg" alt="Continuous Delivery Guru">
          Continuous Delivery Gurus
        </li>
        <li>
          <img src="images/java-enterprise.jpg" alt="Java Enterprise Specialists">
          Java Specialists
        </li>
        <li>
          <img src="images/performance-geeks.jpg" alt="Performance Geek">
          Performance Geeks
        </li>
        <li>
          <img src="images/hipster-developer.png" alt="Hipster Developer">
          Hipster Developers
        </li>
      </ul>
    </article>
  </slide>

  <slide class="fill nobackground" style="background-image:url(images/locations.png);"></slide>

  <slide>
    <article class="flexbox vcenter">
      <h2>&gt; 250 employees</h2>
      <p class="morenote">And we are looking for more!</p>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="../slides-common/images/codecentric-logo-only.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Delivery Pipeline for the Frontend</h2>
      <h3>Why do we need this?</h3>
    </hgroup>
  </slide>

  <slide>
    <aside class="note">
      <ul>
        <li>JavaScript and CSS have come a long way in the last years.</li>
        <li>They are very powerful tools.</li>
        <li>It's not for pixel pushers anymore! (If it ever was)</li>
        <li>There is <em>no</em> app without JS &amp; CSS</li>
      </li>
    </aside>
    <hgroup>
      <h2>JavaScript &amp; CSS have grown up</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <img src="images/js-html-css-frameworks.png">
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Frontend Code is Mission Critical!</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <ul class="build">
        <li>Broken JavaScript &rarr; broken app</li>
        <li>Broken CSS &rarr; broken layout and/or broken app</li>
        <li>It impacts the perceived performance <em>drastically</em></li>
        <li>Even more so on mobile</li>
      </ul>
    </article>
  </slide>

  <slide>
    <aside class="note">
      <ul>
        <li>CI/CD best practices are often neglected for the frontend code</li>
      </ul>
    </aside>

    <hgroup>
      <h2>And Still ...</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <ul class="build">
        <li>We often build superior CI/CD pipelines for our backends</li>
        <li>But frontend code is often neglected</li>
        <li>For our users, it's always the whole package</li>
      </ul>
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <h2>We can do better!</h2>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>What we will cover</h2>
    </hgroup>
    <article>
      <ul>
        <li>Asset Optimization</li>
        <li>Testing</li>
        <li>The Delivery Pipeline</li>
      </ul>
      <br/><br/>
      <ul class="build">
        <li><b>This is frontend only</b></li>
        <li>Ideal: backend &amp; frontend in one CD pipeline</li>
      </ul>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="../slides-common/images/codecentric-logo-only.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Asset Optimization</h2>
    </hgroup>
  </slide>

  <slide>
    <hgroup>
      <h2>Common Problems</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <ul class="build">
        <li>Bad Code Quality</li>
        <li>Misconfigured Caching</li>
        <li>Lots of assets (JS, CSS, images) &rArr; Lots of HTTP requests &rArr; Slow</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Tools</h2>
    </hgroup>
    <article>
      <ul>
        <li>
          <img src="images/grunt-logo.png"
               width="80px;"
               style="border: none; vertical-align: middle;">
          Grunt &mdash; Task Runner
        </li>
        <li>
          <img src="images/eslint-logo.svg"
               width="80px;"
               style="border: none; vertical-align: middle;">
          ESLint &mdash; Static Code Analysis
        </li>
        <li>
          grunt-contrib-concat &mdash; Concatenation
        </li>
        <li>
          grunt-contrib-uglify/UglifyJS &mdash; Minification
        </li>
        <li>
          <img src="images/sass-logo-new.png"
               width="100px;"
               style="border: none; vertical-align: middle;">
          SASS &mdash; CSS preprocessor
        </li>
        <li>
          <img src="images/compass-logo.png"
               width="100px;"
               style="border: none; vertical-align: middle;">
          compass &mdash; images &rarr; base 64 data URIs
        </li>
        <li>
          grunt-version-assets &mdash; Versioned File Names
        </li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2># of HTTP Requests &mdash; Concatenation</h2>
    </hgroup>
    <article>
      <pre class="prettyprint" data-lang="javascript">
concat: {
  options: {
    separator: '\n;'
  },
  app: {
    src: [
      'client/js/**/*.js',
    ],
    dest: '<%= jsTargetDir %>/app.js'
  }
},    </pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2># of HTTP Requests &mdash; Minification</h2>
    </hgroup>

    <article>
      <pre class="prettyprint" data-lang="javascript">
uglify: {
  app: {
    files: {
      '<%= jsTargetDir %>/app.min.js': [ '<%= jsTargetDir %>/app.js' ],
    }
  }
},    </pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2># of HTTP Requests &mdash; Embed Images in CSS</h2>
    </hgroup>

    <article>
      <pre class="prettyprint" data-lang="css">
.img-foo {
  background-image: inline-image("foo.png");
}     </pre>
      <pre class="prettyprint" data-lang="javascript">
sass: {
  app: {
    options: { compass: true, },
    files: { '<%= cssTargetDir %>/master.css': '<%= cssSrcDir %>/master.scss', }
  }
},    </pre>
      <pre class="prettyprint" data-lang="css">
.img-foo {
  background-image:
    url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAA...');
}     </pre>
    </article>
  </slide>

  <slide>
    <aside class="note">
      <ul>
        <li>The best HTTP requests are those that do not happen in the first place</li>
        <li>Use HTTP caching headers:
          <ul>
            <li>Cache-Control: max-age=31536000 // ~= one year</li>
            <li>Expires: Tue, 10 Oct 2015 15:45:00 GMT // optional</li>
          </ul>
        </li>
      </ul>
    </aside>
    <hgroup>
      <h2>Use the Browser Cache</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <h3>Versioned File Names</h3>
      <ul>
        <li>Time stamp: app.min.20141110-1545.js</li>
        <li>Hash: app.min.2412fbca2a07a.js</li>
        <li>Content changes &rArr; file name changes</li>
        <li>&rArr; can be kept in browser cache forever</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2># of HTTP Requests &mdash; Versioned File Names</h2>
    </hgroup>
    <article>
      <pre class="prettyprint" data-lang="javascript">
versioning: {
  options: {
    grepFiles: [ 'static/**/*.html', ]
  },
  js: {
    src: [
      '<%= jsTargetDir %>/app.min.js',
      '<%= jsTargetDir %>/vendor.js',
    ]
  },
  css: {
    src: [
      '<%= cssTargetDir %>/master.css',
    ]
  },
},</pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Measure it</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <ul>
        <li>Google PageSpeed</li>
        <li>Yslow</li>
        <li>Fiddler</li>
      </ul>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="../slides-common/images/codecentric-logo-only.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Testing</h2>
    </hgroup>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <h2>Front end unit tests</h2>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Karma and Mocha (JS Test Framework)</h2>
    </hgroup>
    <article>
      <pre class="prettyprint" data-lang="javascript">
  var expect = chai.expect;
  beforeEach(module('project-staffing'));
  describe('UpperCase Test', function() {
    <b>it('should convert first charactor to UpperCase', inject(function(uppercaseFilter) {
      expect(uppercaseFilter('a')).to.equal('A');
      expect(uppercaseFilter('hello world')).to.equal('Hello World');
    }));</b>
  }); </pre>
      <h3>Running Unit Tests with Karma</h3>
      <pre class="prettyprint" data-lang="bash">
npm install -g karma-cli
karma start karma.conf.js
// or
<b>grunt karma</b></pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Chai (BDD/TDD framework)</h2>
    </hgroup>
    <article>
      <p>Should</p>
      <pre class="prettyprint" data-lang="javascript">
chai.should();
foo.should.be.a('string');
foo.should.equal('bar');</pre>
      <p>Expect</p>
      <pre class="prettyprint" data-lang="javascript">
var expect = chai.expect;
expect(foo).to.be.a('string');
expect(foo).to.equal('bar');</pre>
      <p>Assert</p>
      <pre class="prettyprint" data-lang="javascript">
var assert = chai.assert;
assert.typeOf(foo, 'string');
assert.equal(foo, 'bar');</pre>
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <h2>End2End tests</h2>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Protractor and Jasmine (BDD framework)</h2>
    </hgroup>
    <article>
      <pre class="prettyprint" data-lang="javascript">
describe('Manage customer', function() {
  var ptor;

  beforeEach(function() {
    browser.get('/');
    ptor = protractor.getInstance();
    element(by.id('navEmployees')).click();
    element(by.id('navListEmployees')).click();
  });

  <b>it('should navigate to list employees page', function() {
    expect(ptor.getCurrentUrl()).toMatch(/#\/list-employees/);
  });</b>

});
</pre>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Protractor and Jasmine</h2>
    </hgroup>
    <article>
      <pre class="prettyprint" data-lang="javascript">
it('should find employee Maria on list search page', function() {
  createMultipleEmployees(); // Creates employees: Max, Maria, Daniel, John
  ...
  <b>element(by.id('searchText')).sendKeys('Ma');
  expect(element.all(by.id('employee')).count()).toBe(2);
  element(by.id('searchText')).sendKeys('ria');
  expect(element.all(by.id('employee')).count()).toBe(1);</b>
});
</pre>
      <h3>Running End2End Tests with Protractor</h3>
      <pre class="prettyprint" data-lang="bash">
npm install -g protractor
webdriver-manager start
<b>protractor test/client/e2e/conf.js</b>
</pre>
    </article>
  </slide>

  <slide class="segue dark nobackground">
    <aside class="gdbar"><img src="../slides-common/images/codecentric-logo-only.png"></aside>
    <hgroup class="auto-fadein">
      <h2>Demo</h2>
    </hgroup>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <span><img src="images/project-staffing-app.png"></span>
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <span><img src="images/project-staffing-architecture-v2.png"></span>
    </article>
  </slide>

  <slide>
    <article class="flexbox vcenter">
      <h3>Project Staffing App - TEST Environment</h3>
      <p><a href="http://54.220.185.224:9000/#/">http://54.220.185.224:9000/</a></p><br/>
      <h3>Delivery Pipeline</h3>
      <p><a href="http://54.74.89.170/jenkins/view/CL-Pipeline/">http://54.74.89.170/jenkins/view/CL-Pipeline/</a></p><br/><br/>
      <p>Info: Server will be shutdown after talk</p>
    </article>
  </slide>

  <slide>
    <aside class="note">
      <section>
        <ul>
          <li>#1 Early feedback</li>
          <li>#2 Fail fast</li>
          <li>#3 Production readiness</li>
        </ul>
      </section>
    </aside>
    <hgroup>
      <h2>Delivery Pipeline</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <span><img src="images/jenkins-build-pipeline-v2.png"></span>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Delivery Pipeline Steps</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <span><img src="images/delivery-pipeline.png"></span>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Collect the reports</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <ul>
        <li>Mocha reporter &rArr; unit test</li>
        <li>Jasmine reporter &rArr; end2end tests</li>
        <li>JSLint &rArr; static code analysis</li>
      </ul>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Mocha Report (unit tests)</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <span><img src="images/jenkins-mocha-unit-test-report.png"></span>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Protractor Report (end2end tests)</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <span><img src="images/jenkins-e2e-test-result.png"></span>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>JSLint Report (static code analysis)</h2>
    </hgroup>
    <article class="flexbox vcenter">
      <span><img src="images/jenkins-jslint-report.png"></span>
    </article>
  </slide>

  <slide>
    <hgroup>
      <h2>Links</h2>
    </hgroup>
    <article>
      <p>
        Updated Slides
        <ul>
          <li>
            <a href="http://marcelbirkner.github.io/project-staffing/slides/introduction/">http://marcelbirkner.github.io/project-staffing/slides/introduction/</a>
          </li>
        </ul>
      </p>
      <p>
        Project Documentation
        <ul>
          <li>
            <a href="http://marcelbirkner.github.io/project-staffing/">http://marcelbirkner.github.io/project-staffing/</a>
          </li>
        </ul>
      </p>
      <p>
        Source Code @ Github
        <ul>
          <li>
            <a href="https://github.com/marcelbirkner/project-staffing">https://github.com/marcelbirkner/project-staffing</a>
          </li>
        </ul>
      </p>
     </article>
  </slide>

  <slide class="thank-you-slide segue nobackground">
    <aside class="gdbar right"><img src="../slides-common/images/codecentric-logo-only.png"></aside>
    <article class="flexbox vleft auto-fadein">
      <h2>Thank You!</h2>
      <p class="morenote">Do you have comments or questions?</p>
    </article>
    <p class="auto-fadein" data-config-contact>
      <!-- populated from slide_config.json -->
    </p>
  </slide>

  <slide class="logoslide dark nobackground">
    <article class="flexbox vcenter">
      <span><img src="../slides-common/images/codecentric-logo.png"></span>
    </article>
  </slide>

  <slide class="backdrop"></slide>

</slides>

<!--[if IE]>
  <script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  <script>CFInstall.check({mode: 'overlay'});</script>
<![endif]-->
</body>
</html>
