<script type="text/javascript">
var customermap = {};
customermap['company1'] = {
  center: new google.maps.LatLng(51.2111382,6.7822516),
  name: 'Company 1 Düsseldorf'
};

var customerCircle;

function initialize() {
  // Create the map.
  var mapOptions = {
  zoom: 9,
  center: new google.maps.LatLng(51.2111382,6.7822516),
  mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  // Construct the circle for each value in customermap
  for (var city in customermap) {
  var circleOptions = {
    strokeColor: '#4CC417',
    strokeOpacity: 0.8,
    strokeWeight: 2,
    fillColor: '#4CC417',
    fillOpacity: 0.35,
    map: map,
    center: customermap[city].center,
    radius: 50000
  };

  // Add the circle for this city to the map.
  customerCircle = new google.maps.Circle(circleOptions);
  var marker = new google.maps.Marker({
    position: customermap[city].center,
    map: map,
    title: customermap[city].name,
  });

  var infowindow = new google.maps.InfoWindow({
    content: '<b>Company 1</b><ul><li>Project: Hurrican</li><li>Java</li><li>HTML, CSS, JavaScript</li></ul>'
  });

  google.maps.event.addListener(marker, 'click', function() {
    infowindow.open(map,marker);
  });
  }

  var employeemap = {};
  employeemap['developerA'] = {
    center: new google.maps.LatLng(50.9111382,7.2422516),
    name: 'Developer A'
  };

  employeemap['developerB'] = {
    center: new google.maps.LatLng(51.5111382,7.4422516),
    name: 'DeveloperB'
  };

  employeemap['developerC'] = {
    center: new google.maps.LatLng(51.5551382,6.5552516),
    name: 'developerC'
  };

  var image = {
    url: '/img/default-face.png',
    size: new google.maps.Size(64, 64),
    // The origin for this image is 0,0.
    origin: new google.maps.Point(0,0),
    // The anchor for this image is the base of the flagpole at 0,64.
    anchor: new google.maps.Point(0, 64)
    };

  var m1 = new google.maps.Marker({
  position: employeemap['developerA'].center,
  map: map,
  icon: image,
  title: employeemap['developerA'].name,
  });
  var info1 = new google.maps.InfoWindow({
  content: '<b>Developer A</b><ul><li>Continuous Delivery<li>Java</li><li>HTML, CSS, JavaScript</li></ul>'
  });
  google.maps.event.addListener(m1, 'click', function() {
  info1.open(map,m1);
  });

  var m2 = new google.maps.Marker({
  position: employeemap['developerB'].center,
  map: map,
  icon: image,
  title: employeemap['developerB'].name,
  });
  var info2 = new google.maps.InfoWindow({
  content: '<b>Developer B</b><ul><li>Enterprise JavaScript<li>Java</li><li>HTML, CSS, JavaScript</li></ul>'
  });
  google.maps.event.addListener(m2, 'click', function() {
    info2.open(map,m2);
  });

  var m3 = new google.maps.Marker({
  position: employeemap['developerC'].center,
  map: map,
  icon: image,
  title: employeemap['developerC'].name,
  });
  var info3 = new google.maps.InfoWindow({
  content: '<b>Developer C</b><ul><li>Robot Framework<li>Java</li><li>HTML, CSS, JavaScript</li></ul>'
  });
  google.maps.event.addListener(m3, 'click', function() {
  info3.open(map,m3);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

initialize();
</script>

<div id="map-canvas"></div>
