<div class="container-fluid">
  <div class="row">
    <div class="main">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

          <!-- Nav tabs -->
    			<ul class="nav nav-tabs" role="tablist">
    			  <li class="active"><a id="tabActivities" href="" role="tab" data-toggle="tab">All Activities</a></li>
    			  <li><a href="" role="tab" data-toggle="tab">New Employees</a></li>
    			  <li><a href="" role="tab" data-toggle="tab">New Projects</a></li>
    			  <li><a href="" role="tab" data-toggle="tab">New Customer</a></li>
    			</ul>
    			<br/>

    			<ul class="list-group">
    			  <li class="list-group-item" ng-repeat="activity in activities.slice(0, 20)">
    			    <span class="badge">{{activity.timestamp | date:'medium'}}</span>
              <div ng-class="'img-face-{{activity.subject}}'" class="img-rounded">&nbsp;</div>
    			    <b>{{activity.subject}}</b> {{activity.action}} <b>{{activity.object}}</b>
    			  </li>
    			</ul>

        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>
