<!DOCTYPE html>
<html lang="en" ng-app="employee">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Project Staffing :: Manage Employees</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	
  </head>
  <body ng-controller="EmployeeController as employeeCtrl">

	<navigation></navigation>
	
	<div class="container-fluid">
      <div class="row">
        <div class="main">
		  <div class="row">
			<div class="col-md-6">
				<employee-form></employee-form>
			</div>
			<div class="col-md-6">
				<section ng-init="tab=1">
					<ul class="nav nav-pills">
						<li><a href ng-click="tab = 1">Add Skills</a></li>
						<li><a href ng-click="tab = 2">Add Projects</a></li>					
					</ul>
				</section>
				<div class="panel" ng-show="tab === 1">
					<skill-form></skill-form>
				</div>
				<div class="panel" ng-show="tab === 2">
					<project-form></project-form>
				</div>
			</div>
		  </div>
        </div>
      </div>
    </div>
	
	<employee-table></employee-table>
	
	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
	
  </body>
</html>
