	<!-- List of all employees -->
	<div class="container">
	  	<div class="row">
	  	  <div class="col-lg-2"></div>
		  <div class="col-lg-8">
		    <div class="input-group">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" disabled="true">Search!</button>
		      </span>
		      <input type="text" class="form-control" ng-model="searchText">
		    </div>
		  </div>
		  <div class="col-lg-2"></div>
		</div><br>
		<div class="row">
		  <div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Employees</h3>
				</div>
				<table class="table">
					<thead>
						<tr>
							<th>Full Name</th>
							<th>Email</th>
							<th>Office</th>
							<th>Address</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="employee in employeeCtrl.employees | filter:searchText track by $index " ng-animate=" 'animate' ">
							<td>{{employee.name}}</td>
							<td>{{employee.email}}</td>
							<td>{{employee.office}}</td>
							<td>{{employee.address}}</td>
							<td><button ng-click="employeeCtrl.deleteEmployee(employee._id)" class="btn btn-danger">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		  </div>
		</div>
	</div>