				<h4>Adding Skills for {{employeeCtrl.employee.name}}</h4>
				<!--  Skills Form -->
				<div class="panel panel-default">
				  <div class="panel-body">
				    <form name="skillsForm" ng-controller="SkillController as skillCtrl" ng-submit="skillCtrl.addSkill(employeeCtrl.employee)">
						<div class="row">
						  <div class="col-xs-8">
							<input type="text" ng-model="skillCtrl.skill" class="form-control" title="Skill"></input>
						  </div>
						  <div class="col-xs-2">
							<input type="submit" class="btn btn-primary pull-right" value="Save Skills"/>
						  </div>
						</div>
					</form>
					<div ng-repeat="skill in employeeCtrl.employee.skills track by $index" style="float:left">
						<h4><span class="label label-success">{{skill}}</span>&nbsp;</h4>
					</div>
					<br>
			 	  </div>
				</div>
